/* Testimonials.scss */

.testimonials-container {
    text-align: center;
    margin: 50px 0;
    background: whitesmoke;
    padding: 3rem;
    
   
    p{
        width: 50%;
        margin: 0 auto;
        font-size: small;
        font-weight: lighter;
        padding-bottom: 0.5rem;

    }
    hr{
        width: 20%;
        height: 1px;
        background: red;
    }
    .slider-container {
      max-width: 600px; // Adjust the max-width as needed
      margin: 0 auto; // Center the container
  
      .testimonial-item {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
        .author-info {
            display: flex;
          margin-top: 20px;
  
          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
  